[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
uwsgi = "*"
pylint = "*"
pydocstyle = "*"
django-cors-headers = "*"
psycopg2 = "*"
djangorestframework-camel-case = "*"
drf-yasg2 = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.8"
